body {
    background: linear-gradient(to bottom right, black, rgba(4, 50, 52, 0.7)) fixed;
    font-size: 10px;
}

/* CSS POUR LE HEADER */
.logo {
    height: 150px;
    width: 150px;
    float: left;
    position: relative;
    left: 20%;
}

header {
    height: 170px;
    color: white;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 10px;
    font-family: "Permanent Marker";
    font-size: 35px;
}

nav ul {

    position: relative;
    top: 60px;
}

nav {
    text-align: center;
}

header a:visited, header a {
    color: white;
    text-decoration: none;  
}

header a:hover {
    font-size: 40px;
}

.page_actuelle {
    text-decoration: underline;
}

/* FIN DE CSS POUR LE HEADER */

/* CSS POUR LA PAGE INDEX */
article {
    width: 90%;
    margin: auto;
}
/* FIN DE CSS POUR LA PAGE INDEX*/

/* CSS POUR LE FOOTER */

.plateforme_ecoute, .reseaux_sociaux {
    font-size: 13px;
    margin-top: 50px;
} 

.plateforme_ecoute h4, .reseaux_sociaux h4 {
    font-size: 15px;
}

footer {
    margin-top: 5%;
    background: rgba(7, 95, 100, 0.77);
    width: 100%;
}

/* FIN DE CSS POUR LE FOOTER */

/* CSS POUR MERCH */
.merch_container .btn:hover {
    background: black;
    color: white;
}

.merch div {
    margin: 20px 0px;
    text-align: center;
}

h2 {
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.merch_container img {
    height: 240px;
    width: 240px;
}

/* FIN CSS PORU MERCH */


/* CSS POUR PANIER */
.panier img {
    height: 100px;
    width: 100px;
}

.panier {
    border-radius: 9px;
}

.panier .row div {
    border: solid 1px white;
}

.panier .row div {
    display: inline;
}
/* FIN CSS POUR PANIER */


/* CAROUSEL */
.carousel{
    width: 100%;
    margin: auto;
    background: none;
}

#carousel img {
    height: 1000px;
    margin: auto;
}

div .carousel-inner {
    width: 70%;
    margin: auto;
}

#carousel {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* FIN CAROUSEL */

/*CSS POUR PAGE CONTACT*/

.contact_form {
    margin-top: 5%;
}

.contact_form .bouton_submit:hover {
    background: black;
    color: white;
}

/*FIN CSS POUR PAGE CONTACT*/

.btn:hover {
    color: white;
    background-color: black;
}

/*CSS POUR VIDEO YT*/
iframe {
    display: block;
    margin: auto;
    border-radius: 9px;
}
/*FIN CSS POUR YT*/